header {
    height: 90px;
    width: 100%;
    background-color: var(--secondary);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    position: sticky;
    top: 0;
    transition: 0.5s ease-in-out;
    z-index: 1;
}

.header__logo {
    height: 65px;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.header__logo__img {
    height: 65px;
    transition: var(--transition);
}

.header__logo__img:hover {
    transform: scale(0.95);
}

.header__logo__phone {
    font-family: var(--serif-font);
    color: var(--white);
}

.header__logo__phone span {
    color: var(--primary);
}

.header__social-media {
    display: flex;
    gap: 1rem;
}

.header__social-media__item {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary);
    font-size: 1.5rem;
    width: 42px;
    height: 42px;
    border: solid 1px var(--primary);
    border-radius: 100%;
    transition: var(--transition);
}

.header__social-media__item:hover {
    background: var(--primary);
    color: var(--secondary);
}

.header__button {
    color: var(--primary);
    font-size: 1.5rem;
    width: 42px;
    height: 42px;
    border: solid 1px var(--primary);
    background: transparent;
    cursor: pointer;
    transition: var(--transition);
}

.header__button:hover {
    background: var(--primary);
    color: var(--secondary);
}

@media (max-width:560px) {
    
    .header__logo__phone {
        display: none;
    }

}

@media (max-width:295px) {

    .header__social-media {
        gap: 0.5rem;
    }
    
    .header__social-media__item {
        font-size: 1rem;
        width: 36px;
        height: 36px;
    }

    .header__logo {
        height: 50px;
    }
    
    .header__logo__img {
        height: 50px;
    }

    .header__button {
        font-size: 1rem;
        width: 38px;
        height: 38px;
    }

}